<a href="https://colab.research.google.com/github/asanodiya/my-first-project-/blob/main/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
s="avadhesh"
type(s)

str

In [6]:
l=[1,2,3,4,5,6]
type(l)

list

In [7]:
f=2.4
type(f)

float

In [10]:
t=(1,'avi',345,4.5)
type(t)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [14]:
var1 =""
type(var1)

str

In [17]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [20]:
var3 = [ "DS" ,'ML' , 'Python' ]
type(var3)

list

In [22]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) The "/" operator in most programming languages is used for division. It divides one number by another and returns the quotient or the result of the division. For example:

In [23]:
a = 10
b = 3
result = a / b
print(result)

3.3333333333333335

(ii) The "%" operator, known as the modulus or remainder operator, returns the remainder of the division between two numbers. For example:

In [24]:
a = 10
b = 3
result = a % b
print(result)

1

(iii) The "//" operator, known as the floor division or integer division operator, divides one number by another and returns the floor value of the quotient (the largest integer that is less than or equal to the result). For example:

In [25]:
a = 10
b = 3
result = a // b
print(result)

3

(iv) The "**" operator is used for exponentiation or raising a number to a power. It takes two operands, the base number and the exponent, and returns the result of raising the base to the power of the exponent. For example:

In [27]:
a = 2
b = 3
result = a ** b
print(result)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [33]:
l=[2,45,'avi',3.4,3+3j,35]
for i in l:
  print(i,type(i))

2 <class 'int'>
45 <class 'int'>
avi <class 'str'>
3.4 <class 'float'>
(3+3j) <class 'complex'>
35 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [36]:
A = 42  # Number to be divided
B = 7   # Divisor

count = 0  # Counter to keep track of the number of divisions

while A % B == 0:
    A = A // B  # Divide A by B
    count += 1  # Increment the count

if count > 0:
    print(f"{A} is divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

6 is divisible by 7 and can be divided 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [45]:
l=[23,45,56,78,54,34,23,5,68,2,45,78,12,32,4,5,6,8,9,90,8,90,786,75,65,4,53,42,3,12,1,234,4235,46,567]
for i in l:
  if i%3==0:
    print(f"{i} is divisible by 3")
  else:
    print(f"{i} is not divisible by 3")

23 is not divisible by 3
45 is divisible by 3
56 is not divisible by 3
78 is divisible by 3
54 is divisible by 3
34 is not divisible by 3
23 is not divisible by 3
5 is not divisible by 3
68 is not divisible by 3
2 is not divisible by 3
45 is divisible by 3
78 is divisible by 3
12 is divisible by 3
32 is not divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
8 is not divisible by 3
9 is divisible by 3
90 is divisible by 3
8 is not divisible by 3
90 is divisible by 3
786 is divisible by 3
75 is divisible by 3
65 is not divisible by 3
4 is not divisible by 3
53 is not divisible by 3
42 is divisible by 3
3 is divisible by 3
12 is divisible by 3
1 is not divisible by 3
234 is divisible by 3
4235 is not divisible by 3
46 is not divisible by 3
567 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In programming, mutable and immutable are two fundamental concepts related to data types.

Immutable data types:
Immutable data types are those whose values cannot be changed after they are created. If you need to modify an immutable object, you need to create a new object with the desired changes. Examples of immutable data types include integers, floats, booleans, strings, and tuples.

In [46]:
# Example of immutable data types
x = 5  # Integer
y = 3.14  # Float
z = True  # Boolean
name = "John"  # String
point = (2, 3)  # Tuple

# Trying to modify an immutable object will create a new object
x = x + 1
name = name + " Doe"

#In the above example, when we try to modify the values of x and name, new objects are created with the updated values, while the original objects remain unchanged.

Mutable data types:
Mutable data types are those whose values can be modified after they are created. You can directly modify the object without creating a new one. Examples of mutable data types include lists, dictionaries, and sets.

In [ ]:
# Example of mutable data types
my_list = [1, 2, 3]  # List
my_dict = {'name': 'John', 'age': 25}  # Dictionary
my_set = {1, 2, 3}  # Set

# Modifying a mutable object directly
my_list.append(4)
my_dict['age'] = 26
my_set.add(4)
#In this example, we can see that the values of my_list, my_dict, and my_set can be modified directly without creating new objects.